body {
    background-color: darkslategray;
}
div#wrapper {
    border-radius: 25px;
    background: #73aD21;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
div#header-links {
    float: right;
    font-size: medium;
}
a {
    color: white;
    cursor: crosshair;
}
a:hover{
    color: black;
}
h1 {
    text-align: center;
    font-size: x-large;
}
h2 {
    font-size: large;
}
div.wrapper-box{
    border-radius: 25px;
    background: #2F4F4F;
    padding: 20px;
}